.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 100px;
  gap: 50px;
}

.left {
  text-align: right;
  flex: 1;
}

.right {
  flex: 1;
}

.left p {
  max-width: 500px;
  text-align: right;
  margin-left: auto;
}
