.logo {
  font-size: 10rem;
  position: absolute;
  bottom: 100px;
  left: -30px;
  line-height: 140px;
  font-family: 'Londrina Outline', cursive;
}

.container {
  position: relative;
  height: 100vh;
}

.top_box {
  position: absolute;
  height: 65%;
  width: 30%;
  top: 0;
  background-color: #f0cfab;
  left: 0;
  right: 0;
  margin: auto;
}

.intro {
  position: absolute;
  width: 350px;
  right: -330px;
  bottom: 50px;
}

.intro h2 {
  word-wrap: break-word;
}

.bottom_box {
  position: absolute;
  background-color: #fff2c5;
  height: 85%;
  width: 90%;
  right: 0;
  bottom: 0;
}

.bottom_right_box {
  position: absolute;
  background-color: white;
  width: 60%;
  right: 0;
  bottom: 0;
}
.nav_links {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-around;
  padding: 50px 0;
  list-style-type: none;
  margin: 0;
  font-weight: bold;
}

.nav_links li a {
  padding: 10px 0;
  border-bottom: 2px solid;
}

.profile {
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  width: fit-content;
  bottom: -35%;
}
